/* Utility */
.mt-5 {
  margin-top: 5rem !important;
}
.p-5 {
  padding: 5rem !important;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1355px;
}

/* Wagon */
.wagon-wrap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.wagon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  /* align-items: flex-start; */

  min-height: 150px;
  width: auto;

  /* Visuals */
  border-radius: 27px;
  border: 1px solid #3398ff;
}

.wagon .wagon-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding: 0 2rem;
}
.wagon .wagon-head .wagon-number {
  font-size: 4rem;
  font-weight: bold;
}

.wagon .wagon-tail {
  width: 25px;
  margin-right: 27px;

  /* Visuals */
  /* background-color:#eeeeee; */
}

.wagon .wagon-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wagon .wagon-body .wagon-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 60px;
}
.wagon .wagon-body .wagon-row:last-of-type {
  margin-bottom: 0px;
}
/* Stick to bottom of wagon for bottom row */
.wagon .wagon-body .wagon-row-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.wagon .wagon-body .seat-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin-right: 10px;
}
/* Reverse seat order for bottom wagon row */
.wagon .wagon-body .wagon-row-bottom .seat-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
/* Horizontal seat row */
.wagon .wagon-body .seat-row.seat-row-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 10px;
}

/* Spacer */
.wagon-row .spacer {
  width: 37px;
  margin-right: 10px;
}
.wagon-row .spacer-2 {
  width: 84px;
  margin-right: 10px;
}
.wagon-row .spacer-3 {
  width: 131px;
  margin-right: 10px;
}
.wagon-row .spacer.spacer-coupe {
  width: 37px;
  margin-right: 0px !important;
}
.wagon-row .spacer.spacer-coupe-slim {
  width: 78px;
  padding: 3px;
  margin-right: 0px !important;
}

/* Seat */
.seat-row .seat::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #c4c4c4;
  width: 50%;
  height: 25px;
  top: -7px;
  z-index: -1;
}
.seat-row .seat-right::before {
  left: 0;
}
.seat-row .seat-left::before {
  right: 0;
}
.seat-row .seat-empty::before {
  height: 35px;
}
.seat-row .seat-empty:last-of-type:before {
  display: none;
}
/* Seat stick for bottom wagon row */
.wagon-row-bottom .seat-row .seat::before {
  top: 10px;
}

.seat-row .seat {
  width: 37px;
  height: 29px;
  margin-top: 4px;
  position: relative;

  /* Visuals */
  background-color: #3398ff;
  background-size: 100% 85%;
  border-radius: 4px 4px 4px 4px;

  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 29px;
  cursor: pointer;
}
/* Seat margin for bottom wagon row */
.wagon-row-bottom .seat-row .seat {
  margin-top: 0px;
  margin-bottom: 4px;
}
/* Horizontal seat */
.seat-row.seat-row-horizontal .seat.seat-top {
  width: 29px;
  height: 37px;
  line-height: 34px;

  margin-right: 8px;

  border-radius: 4px 4px 10px 10px;
  background-image: url(~@/assets/img/svg/corner-top.svg);
  background-size: 90% 100%;
  background-position: center -11px;
  background-repeat: no-repeat;
}
.seat-row.seat-row-horizontal .seat.seat-bottom {
  width: 29px;
  height: 37px;
  line-height: 34px;

  margin-right: 8px;

  border-radius: 10px 10px 4px 4px;
  background-image: url(~@/assets/img/svg/corner-bottom.svg);
  background-size: 90% 100%;
  background-position: center 11px;
  background-repeat: no-repeat;
}
.seat-row.seat-row-horizontal .seat:last-child {
  margin-right: 0px;
}
.seat-row.seat-row-horizontal .seat.seat-bottom::before {
  left: 7px;
  top: 16px;
}
.seat-row.seat-row-horizontal .seat.seat-top::before {
  left: 7px;
  top: -5px;
}
/* Empty horizontal seat */
.seat-row.seat-row-horizontal .seat.seat-bottom.seat-empty {
  background-image: none;
}
.seat-row.seat-row-horizontal .seat.seat-bottom.seat-empty::before {
  display: none;
}

/* Selected, disabled */
.seat-row .seat.selected {
  background-color: #fd653a;
}
.seat-row .seat.disabled {
  background-color: #a7a7a7;
  cursor: not-allowed;
}

.seat-row .seat.seat-right {
  border-radius: 4px 10px 10px 4px;
  background-image: url(~@/assets/img/svg/corner-left.svg);
  background-position: -10px center;
  background-repeat: no-repeat;
}
.seat-row .seat.seat-left {
  border-radius: 10px 4px 4px 10px;
  background-image: url(~@/assets/img/svg/corner-right.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
}
.seat-row .seat.seat-empty {
  background: none;
}

.table-row {
  width: 37px;
  position: relative;
}
.table-row::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #c4c4c4;
  width: 28px;
  height: 29px;
  border-radius: 0px 0px 14px 14px; /* Botttom tip */
}
.wagon-row-bottom .table-row::before {
  border-radius: 14px 14px 0px 0px; /* Top tip */
  bottom: 0;
}
.table-row.table-row-2::before {
  height: 60px;
}
.table-row.table-row-3::before {
  height: 93px;
}

/* Wheelchair */
.wagon-row .section-wheelchair {
  background-image: url(~@/assets/img/svg/wheelchair-solid.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30%;
  width: 84px;
  height: 60px;
  margin-right: 10px;
}
.wagon-row .section-wheelchair.section-wheelchair-3 {
  width: 131px;
}

/* Baggage */
.wagon-row .section-baggage {
  background-image: url(~@/assets/img/svg/case.svg);
  background-repeat: no-repeat;
  background-position: 75% center;
  background-size: 70%;
  width: 84px;
  height: 29px;
  margin-right: 10px;
}
.wagon-row .section-baggage.section-baggage-2 {
  height: 60px;
}
.wagon-row .section-baggage.section-baggage-3 {
  height: 93px;
}

/* Hanger */

.wagon-row .section-hanger {
  background-image: url(~@/assets/img/svg/hanger.svg);
  background-repeat: no-repeat;
  background-position: 75% center;
  background-size: 70%;
  width: 84px;
  height: 29px;
  margin-right: 10px;
}
.wagon-row .section-hanger.section-hanger-2 {
  height: 60px;
}
.wagon-row .section-hanger.section-hanger-3 {
  height: 93px;
}

/* WC */
.wagon-row .section-wc {
  background-color: #eeeeee;
  color: #333333;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  width: 84px;
  height: 36px;
  line-height: 36px;

  margin-right: 10px;
}
.wagon-row .section-wc.section-wc-2 {
  height: 67px;
  line-height: 67px;
}
.wagon-row .section-wc.section-wc-3 {
  height: 100px;
  line-height: 100px;
}
.wagon-row .section-wc.section-wc-wheelchair {
  background-image: url(~@/assets/img/svg/wheelchair-solid.svg);
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: 30%;

  line-height: 2.5em;
}

/* Cafe */
.wagon-row .section-cafe {
  background-image: url(~@/assets/img/svg/coffee.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  width: 84px;
  height: 29px;
  margin-right: 10px;
}
.wagon-row .section-cafe.section-cafe-2 {
  height: 60px;
}
.wagon-row .section-cafe.section-cafe-3 {
  height: 93px;
}

/* Steward */
.wagon-row .section-steward {
  width: 84px;
  height: 100px;

  background-image: url(~@/assets/img/svg/coupe-bg-steward.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

/* Coupe */
.wagon-row .coupe {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  width: 131px;
  height: 100px;

  padding-left: 3px;
  padding-right: 3px;

  background-image: url(~@/assets/img/svg/coupe-bg-std.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.wagon-row .coupe.coupe-slim {
  width: 84px;

  padding-left: 3px;
  padding-right: 3px;

  background-image: url(~@/assets/img/svg/coupe-bg-slim.svg);
}
.wagon-row .coupe.coupe-wheelchair {
  background-image: url(~@/assets/img/svg/coupe-bg-wheelchair.svg);
}
/* Regular seats in coupe */
.wagon-row .coupe > .seat-row {
  margin-right: 0px;
}
.wagon-row .coupe .seat {
  margin-top: 1px;
}
.wagon-row .coupe .seat::before {
  width: 10px;
}

.wagon .wagon-body .coupe-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;

  margin-top: 11px;
}
/* Right side seats */
.wagon .wagon-body .coupe-row.coupe-row-right .coupe-seat {
  border-radius: 10px 0px 0px 10px;
}

.wagon-body .coupe .coupe-seat.coupe-seat-single {
  width: 37px;
  height: 76px;

  /* Visuals */
  background-color: #3398ff;
  background-size: 100% 85%;
  border-radius: 0px 10px 10px 0px;

  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 76px;
  cursor: pointer;
}
.wagon-body .coupe .coupe-seat {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 37px;
  height: 38px;

  /* Visuals */
  background-color: #3398ff;
  border-radius: 0px 10px 10px 0px;

  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
}
.wagon-body .coupe .coupe-seat:not(.coupe-seat-single):first-of-type {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top: 1px solid #ffffff;
}
.wagon-body .coupe .coupe-seat:not(.coupe-seat-single):last-of-type {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.wagon-body .coupe .coupe-seat.selected {
  background-color: #fd653a;
}
.wagon-body .coupe .coupe-seat.disabled {
  background-color: #a7a7a7;
  cursor: not-allowed;
}

/* Coupe Bottom */
.wagon-row .coupe-bottom {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 100px;
  height: 55px;

  padding-bottom: 3px;

  background-image: url(~@/assets/img/svg/coupe-bottom.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.wagon-row .coupe-bottom .coupe-seat {
  position: relative;
  width: 40px;
  height: 37px;

  background-color: #3398ff;
  border-radius: 10px 10px 0px 0px;

  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 37px;
  cursor: pointer;
}
.wagon-row .coupe-bottom .coupe-seat:not(.coupe-seat-single):last-of-type {
  /* Top */
  border-radius: 10px 0px 0px 0px;
  border-right: 1px solid #ffffff;
}
.wagon-row
  .coupe-bottom
  .coupe-seat:not(.coupe-seat-single):last-of-type::before {
  content: "";
  display: block;
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #ffffff;
  left: 12px;
  top: 3px;
}
.wagon-row .coupe-bottom .coupe-seat:not(.coupe-seat-single):first-of-type {
  /* Bottom */
  border-radius: 0px 10px 0px 0px;
}
.wagon-row
  .coupe-bottom
  .coupe-seat:not(.coupe-seat-single):first-of-type::before {
  content: "";
  display: block;
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #ffffff;
  left: 12px;
  bottom: 3px;
}

.wagon-row .coupe-bottom .coupe-seat.coupe-seat-single {
  width: 80px;
  border-radius: 10px 10px 0px 0px !important;
}
/* Selected, disabled */
.wagon-row .coupe-bottom .coupe-seat.selected {
  background-color: #fd653a;
}
.wagon-row .coupe-bottom .coupe-seat.disabled {
  background-color: #a7a7a7;
  cursor: not-allowed;
}

.wagon-row .coupe-bottom > .seat-row {
  margin-right: 0px !important;
}
.wagon-row .coupe-bottom .seat {
  margin-bottom: 0px !important;
  margin-right: 1px !important;
}
